<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BeepIn: Networking for Robots</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/styles.css">
  </head>
  <body class="container">
    <h1>BeepIn: Networking for Robots</h1>
    <ul class="list-unstyled list-inline">
      <li><a href="/robots/looking">Hire a Robot</a></li>
      <li><a href="/robots/hired">Employed Robots</a></li>
    </ul>

    <section class="container">
      <ul class="list-unstyled list-inline index-container">
        {{#model}}
        <ul class="list-unstyled user-thumbnail">
          <li class="avatar"><img class="img-rounded" src="{{avatar}}" alt="My Photo"></li>
          <li class="user-name"><a href="/profile/{{id}}">{{name}}</a></li>
          <li>{{job}} {{company}}</li>
          <li>{{^job}}{{/job}}</li>
          <li class="for-hire">{{^company}}Available for Hire{{/company}}</li>
        </ul>
        {{/model}}
      </ul>
    </section>

  </body>
</html>
